li {
    font-size: 1.2em;
}

.highlight {
    background-color: red;
    font-size: 1.3em;
    color: white;
    border-radius: 5px;
}

body {
    background-color:  #D4D4D4;
}

.shd {
    box-shadow: 5px 5px 10px 1px #807478;
}
.tshd {
    text-shadow: -1px 16px 14px rgba(136,136,136,0.88);
}
.hidden {
    display: none;
}
.navbg{
    background: hsla(197, 14%, 57%, 1);

    background: linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(197, 14%, 57%, 1) 0%, hsla(192, 17%, 94%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8399A2", endColorstr="#EEF2F3", GradientType=1 );
}

.bodytitle{
    background: hsla(206, 91%, 66%, 1);

    background: linear-gradient(90deg, hsla(206, 91%, 66%, 1) 0%, hsla(190, 90%, 51%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(206, 91%, 66%, 1) 0%, hsla(190, 90%, 51%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(206, 91%, 66%, 1) 0%, hsla(190, 90%, 51%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5AB2F7", endColorstr="#12CFF3", GradientType=1 );
}


